body{
    /*font-family: Arial, Helvetica, sans-serif;*/
    background: #e8e8e8;
    background-image: url('Images/background2.png');
    /*background-size: cover;*/
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;
}

.nav{
    position: fixed;
    /*background: rgb(44, 112, 136);*/
    background: #212121;
    width: 100%;
    height: 50px;
    /*margin: auto;*/
    justify-content:  space-between;
    z-index: 5;
}

.nav-menu{
    text-decoration: none;
    display: flex;
    list-style: none;
}


.nav-menu-item{
    padding: 12px;
}

.nav-name{
    color: #e8e8e8;
    padding-top: 12px;
    margin: 0 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.nav-text{
    color: #e8e8e8;
    text-decoration: none;
}

.nav-hover{
    padding: 8px 12px;
    border-radius: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.nav-hover:hover{
    color: #e8e8e8;
    background-color: #d8993b;
    transition: 0.5s;
}

.nav-name:hover{
    /*color: #e8e8e8;*/
    color: #e8e8e8;
}

.container{
    margin-left: 2%;
    font-family: 'Kanit', sans-serif;
    /*text-align: center;*/
    display: flex;
    align-items: center;
    /*height: 50em;*/
    height: 50vw;
    margin-bottom: 4vw;
}

.Title{
    /*font-size: 60px;*/
    font-size: 4vw;
    color: #d8993b;
}
.sub{
    font-size: 1vw;
    margin-top: -15px;
    /*color: #333333;*/
    color: #386b9e;
}

.container-fluid{
    margin-top: 15px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    width: 90%;
    font-family: 'Roboto', sans-serif;
 
}

.subtitle{
    margin-left: 4vw;
    font-family: 'Kanit', sans-serif;
    color: #d8993b;
}

.linea {
    border-top: 5px solid #386b9e;
    height: 2px;
    max-width: 80px;
    padding: 0;
    margin-left: 4vw;
    border-radius: 10px;
  }

.container-fluid img{

    /*padding-top: 6vw;*/
    width: 15vw;
    margin-left: 10vw;
}


.c{
    width: 6.5vw;
    height: auto;
}
.container-fluid .paragraphs{

    width: 60%;
    margin-left: 5vw;
}

.container-fluid p{
    
    /*display: flex;*/

    /*font-size: 1vw;
    /*word-break: break-all;*/
    /*
    min-width: 30%;
    max-width: 30%;*/
    width: 100%;
    overflow: hidden;
    font-size: 1.3vw;
    
}
.container2{
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgb(217, 209, 232);
}
.bottom{
    width: 100%;
    height: 10.7vw;
    background-image: url("Images/bottom.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.container2 .lower{
    width: 60%;
    margin-top: 2vw;
    display: flex;
    margin: 0 auto;
}
.portfolio{
    width: 20vw;
    height: 30vw;
    color: white;
    text-align: center;
    margin: 0 auto;
    
}
.portfolio .background{
    width: 20vw;
    height: 30vw;
    border-radius: 15px;
    position: absolute;
    background-image: url("Images/NotesWeb2.jpg");
    background-position: center;
    background-size: cover;
    transition: 600ms;

}
.portfolio .background2{
    width: 20vw;
    height: 30vw;
    border-radius: 15px;
    position: absolute;
    background-image: url("Images/MAD2.jpg");
    background-position: center;
    background-size: cover;
    transition: 600ms;
}
.portfolio .textArea h3, .portfolio .textArea p{
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    transform: translateY(-20%);
    transition: 600ms;
}

.portfolio .textArea h3{
    font-family: 'Kanit', sans-serif;
    margin-top: 5vw;
}

.portfolio .textArea{
    width: 80%;
    margin: 0 auto;
}

.portfolio .textArea a{

    z-index: 2;
    position: relative;
    top: 9vw;
    margin-top: 20vw;
    text-decoration: none;
    display: inline block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 2px solid #d8993b;
    border-radius: 5px;
    transition: 600ms;
    opacity: 0;
    margin-top: 50vw;
}

.portfolio .textArea a:hover{
    background-color: #d8993b;
}
.portfolio:hover .background{
    
    filter: brightness(30%) blur(2px);
    transform: translateY(-3%);

    transition: 600ms;
}
.portfolio:hover .background2{
    
    filter: brightness(50%) blur(2px);
    transform: translateY(-3%);

    transition: 600ms;
}

.portfolio:hover .textArea h3, .portfolio:hover .textArea p, .portfolio:hover a{
    opacity: 1;
    transform: translateY(20%);
    transition: 600ms;
}

.container2 h1{
    display:inline-block;
}

.container3{
    /*margin-bottom: 4vw;*/
}
.container3 .upper .subtitle{
    text-align: center;
    margin-right: 3vw;
}
.container3 .upper .linea{
    margin: 0 auto;
    
}

.lineaGradient {
    height: 2.5px;
    width: 100%;
    background: linear-gradient(to right, #e8e8e8, #e8e8e8, #386b9e, #e8e8e8, #e8e8e8);
    margin-bottom: 4vw;
  }

.swiper {
    /*margin-top: 5vw;*/
    width: 70%;
    height: 100%;
}

.swiper-slide {
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
    font-size: 7vw;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    filter: grayscale(70%);
    transition: 300ms;
}

.swiper-button-next, .swiper-button-prev{
    color: #d8993b;
}

.swiper-slide:hover{
    transform: scale(130%);
    filter: grayscale(0%);
    transition: 300ms;
}
.container4{
    
    margin: 0 auto;
    display: flex;
    margin-bottom: 5vw;   
    margin-top: 5vw; 
}
.container4 .upper{
    font-family: 'Kanit', sans-serif;
    color:#d8993b;
    width: 30%;
    background-color: #cbcbcb;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
.container4 .upper div{
   margin-top: 13vw;
}
.container4 .lower{
    width: 60%;
    background-color: #cbcbcb;
    border-radius: 20px;
    margin: 0 auto;
}
.container4 .edge{
    
    text-align: center;
    font-size: 5vw;
    width: 7.5vw;
    border-radius: 20px;
    margin-bottom: 2vw;
    background-color: #e8e8e8;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 2vw;
    transition: 300ms;
    z-index: 3;
}

.container4 table{
    width: 100;
    margin: 0 auto;
}

.container4 img{
    width: 5vw;
    margin-bottom: 1.5vw;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    z-index: 4;
}
  

  /* Tooltip text */
.tooltip2 .tooltiptext {
    
    visibility: hidden;
    width: 120px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 15px;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.container4 .edge:hover{
    transform: translatey(-1.5vw) translateX(1vw);
    transition: 300ms;
}

.container4 .edge:hover{
    transform: translatey(-1.5vw) translateX(1vw);
    transition: 300ms;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext {
    visibility: visible;
}

.contact{
    margin-top: 5vw;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 3vw;
}
.contact .upper{
    font-family: 'Kanit', sans-serif;
    color:#d8993b;
    margin-bottom: 4vw;
}

.contact .lower{
    display: flex;
    
}

.contact span{
    margin-left: 5vw;
    margin: 0 auto;
    transition: 400ms;
}
.contact .lower span p{
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5vw;
    visibility: hidden;
}
.contact a{
    text-decoration: none;
    color: #212121;
    margin: 0 auto;
}

.contact a:hover{
    color: #d8993b;
    transform: rotate(360deg) scale(150%);
    
    transition: 400ms;
}

.contact a:hover p{
    transform: rotate(-360deg);
    transition: 400ms;
    visibility: visible;
}
